@model Cars.Models.Review

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Author</dt>
        <dd>@Model.Author.UserName</dd>
        <dt>Car</dt>
        <dd>@Model.CarID @Model.Car.Make.Name @Model.Car.Model</dd>
        <dt>Text</dt>
        <dd>@Model.Text</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
